h1
{
    text-align: center;
    background-color:  black;
    font-size: 3rem;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

div
{
    background-color: black;
    text-align: left;
    padding: 10px;
    
}

*
{
    background-color: black;
}

.G
{
    border: 5px solid gold;
    margin-left: 25px;
    width: 470px;
    height: 375px;
    display: inline-block;
}

img
{
    border: 5px solid gold;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.LO:hover
{
    content: url(./3.png);
}







